# Core
torch>=2.0.0
transformers>=4.35.0
datasets>=2.14.0

# Data / Biology
pandas>=2.0.0
numpy>=1.24.0
biopython>=1.81
mygene>=3.2.2
requests>=2.31.0

# ML baseline
scikit-learn>=1.3.0

# Visualisation
matplotlib>=3.7.0
seaborn>=0.12.0

# Web app
fastapi>=0.110.0
uvicorn[standard]>=0.27.0

# Utilities
tqdm>=4.65.0
scipy>=1.11.0